<div class="current" data-target-id="{{ targetId }}" data-params="{{ params | json_encode }}"></div>
<div class="d-flex flex-wrap justify-content-center">
    {% for instance in media %}
    <div
        class="flex-column m-1"
        style="cursor: pointer"
        onclick="document.dispatchEvent(new CustomEvent('pickMedia', {'detail': {targetId: '{{ targetId }}', value: {{ instance.id }}}}))"
    >
        <div class="text-center bg-light p-3">
            <div>
                <img height="100" src="{{ render_media(instance, 100, 100) }}"/>
            </div>
            <hr>
            {{ instance }}
        </div>
    </div>
    {% endfor %}
    {% if media | length < 1 %}
    <div class="w-100 text-center alert alert-warning">{{ 'No results found' | trans }}</div>
    {% endif %}
</div>