{% extends '@EDBAdmin/base.html.twig' %}

{% block body %}
	{% set route = app.request.attributes.get('_route') %}
	<div class="wrapper">
		<div class="menu">
			<div class="logo">
				<i class="fa fa-{{ get_parameter('edb_admin_icon') }}"></i>
				<span>{{ get_parameter('edb_admin_title') }}</span>
			</div>
			<ul>
				{% for element in get_menu() %}
					{% if element.getOption('items') is not null %}
						<li>
							<span>{{ element.name | trans }}</span>
							<ul>
								{% for menuItem in element.getOption('items') %}
									<a title="{{ menuItem.name | trans }}" href="{{ path(menuItem.getOption('path')) }}" class="{{ menuItem.getOption('path') == route ? 'active' : '' }}">
										<i class="fa fa-{{ menuItem.getOption('icon') }}"></i>
										<span>{{ menuItem.name | trans }}</span>
									</a>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li>
							<a title="{{ element.name | trans }}" href="{{ path(element.getOption('path')) }}" class="{{ element.getOption('path') == route ? 'active' : '' }}">
								<i class="fa fa-{{ element.getOption('icon') }}"></i>
								<span>{{ element.name | trans }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<div class="user">
				<a class="btn btn-primary ms-2 mb-5 mt-3" href="{{ path('logout') }}">
					<i class="fa fa-power-off"></i> <span>{{ 'Logout' | trans }}</span>
				</a>
			</div>
		</div>
		<div class="content">
			<div class="inner-content">
				{% block content_header %}
					<div class="row">
						<div class="col">
							{% if list is defined %}
								<div class="block">
									<form action="{{ path(route, {'sort': sort}) }}" method="GET">
										<i class="fas fa-search"></i>
										<input id="global-search" name="search" type="text" value="{{ search }}" placeholder="{{ "Search" | trans }}">
									</form>
								</div>
							{% endif %}
						</div>
					</div>
				{% endblock %}
				{% block content %}
					<div class="block">
						{{ 'Dashboard' | trans }}
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<div class="modal fade" id="media-modal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{ 'Select media' | trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">
							<i class="fa fa-search"></i>
						</span>
						<div class="form-control" contenteditable="true"></div>
					</div>
					<div class="media-list">
						<div class="d-flex justify-content-center">
							<div class="spinner-border" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const mediaModal = jquery("#media-modal")
		const mediaModalObject = new bootstrap.Modal(mediaModal)
		const mediaModelBody = jquery("#media-modal .modal-body .media-list")
		const searchInput = jquery("#media-modal .form-control")

		searchInput.on('keyup', async function() {
			let query = searchInput.html()
			query = query.replace(/[^a-z0-9áéíóúñü \.,_-]/gim,"");
			query = query.trim();

			const targetId = mediaModelBody.find('.current').data('target-id')
			const params = mediaModelBody.find('.current').data('params')
			params['q'] = query

			const response = await fetch("{{ path('media_modal_list') }}?" + jquery.param(params), {method: "GET"})
			const html = await response.text()
			mediaModelBody.html(html)
		})
	</script>
{% endblock %}
