{% extends '@EDBAdmin/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col offset-3 col-6 mt-5 text-center">
				<div class="block pt-5">
					<div class="login-user-icon">
						<i class="fa fa-user-alt fa-2x"></i>
					</div>
					<div class="mb-4 mt-5">
						<div class="col col-lg-8 m-auto">
							{% include('@EDBAdmin/render_flashes.html.twig') %}
							<form method="post" action="{{ path('reset_password') }}">
								<div class="form-group">
									<input type="hidden" name="_token" value="{{ app.request.query.get('token') }}">
									<input type="password" name="_new_password" class="form-control mb-1 text-center" placeholder="{{ 'New password' | trans }}">
									<input type="password" name="_new_password_repeat" class="form-control mb-3 text-center" placeholder="{{ 'Repeat new password' | trans }}">
									<button class="btn btn-primary d-block w-100" type="submit">{{ 'Save' | trans }}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
