{% extends '@EDBAdmin/layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/edbadmin/source/node_modules/quill/dist/quill.min.js') }}"></script>
{% endblock javascripts %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/edbadmin/source/node_modules/quill/dist/quill.snow.css') }}">
{% endblock %}

{% block content %}
	<h4 class="m-3">
		{% if object is defined %}
			{{ 'Edit' | trans }}
			"{{ object }}"
		{% else %}
			{{ 'Create' | trans }}
		{% endif %}
	</h4>
	<div class="block">
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_widget(form) }}
		<div class="mt-5"></div>
        <a href="{{ back }}" class="btn btn btn-outline-secondary">
            <i class="fa fa-arrow-alt-circle-left"></i>
            {{ 'Back' | trans }}
        </a>
		<button type="submit" class="btn btn btn-primary">
			<i class="fa fa-save"></i>
			{{ 'Save' | trans }}
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
